USE [master]
GO
/****** Object:  Database [instituto]    Script Date: 2/06/2026 5:32:51 p. m. ******/
CREATE DATABASE [instituto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'instituto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\instituto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'instituto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\instituto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [instituto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [instituto]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](150) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[direccion] [varchar](500) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes_por_materia]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes_por_materia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fkpk_id_estudiante] [int] NOT NULL,
	[fkpk_id_materia_profesor] [int] NOT NULL,
	[en_curso] [bit] NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[fkpk_id_estudiante] ASC,
	[fkpk_id_materia_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones](
	[id_evaluacion] [int] IDENTITY(1,1) NOT NULL,
	[fkpk_id_estudiante] [int] NOT NULL,
	[fkpk_id_materia_profesor] [int] NOT NULL,
	[valor_nota] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evaluacion] ASC,
	[fkpk_id_estudiante] ASC,
	[fkpk_id_materia_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materia_profesor]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materia_profesor](
	[id_materia_profesor] [int] IDENTITY(1,1) NOT NULL,
	[fkpk_id_materia] [int] NOT NULL,
	[fkpk_id_profesor] [int] NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[id_materia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[id_profesor] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](150) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[direccion] [varchar](500) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programas]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programas](
	[id_programas] [int] IDENTITY(1,1) NOT NULL,
	[fkpk_id_materia] [int] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](2048) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_programas] ASC,
	[fkpk_id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_contratos]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_contratos](
	[id_tipo_contrato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vinculaciones]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vinculaciones](
	[id_vinculacion] [int] IDENTITY(1,1) NOT NULL,
	[fkpk_id_profesor] [int] NOT NULL,
	[fkpk_id_tipo_contrato] [int] NOT NULL,
	[numero_contrato] [varchar](1024) NOT NULL,
	[valor_contrato] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vinculacion] ASC,
	[fkpk_id_profesor] ASC,
	[fkpk_id_tipo_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[estudiantes] ON 

INSERT [dbo].[estudiantes] ([id_estudiante], [nombres], [apellidos], [direccion], [telefono], [correo], [is_active]) VALUES (2, N'Juan', N'Gil', N'Cra 51 No 45-44 Fredonia', N'3122334296', N'juangilv.27@gmail.com', 1)
INSERT [dbo].[estudiantes] ([id_estudiante], [nombres], [apellidos], [direccion], [telefono], [correo], [is_active]) VALUES (3, N'Mario', N'Perez', N'Cra 40 No 21 Medellín', N'3147009472', N'vasquez21@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[materia_profesor] ON 

INSERT [dbo].[materia_profesor] ([id_materia_profesor], [fkpk_id_materia], [fkpk_id_profesor], [is_active]) VALUES (1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[materia_profesor] OFF
GO
SET IDENTITY_INSERT [dbo].[materias] ON 

INSERT [dbo].[materias] ([id_materia], [nombre], [is_active]) VALUES (1, N'Matemática básica', 0)
INSERT [dbo].[materias] ([id_materia], [nombre], [is_active]) VALUES (2, N'Programación Avanzada', 1)
SET IDENTITY_INSERT [dbo].[materias] OFF
GO
SET IDENTITY_INSERT [dbo].[profesores] ON 

INSERT [dbo].[profesores] ([id_profesor], [nombres], [apellidos], [direccion], [telefono], [correo], [is_active]) VALUES (1, N'Carlos Alberto', N'Molero Socorro', N'Suba Bogota', N'3012901117', N'carlos.molero@pi.edu.co', 1)
SET IDENTITY_INSERT [dbo].[profesores] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_contratos] ON 

INSERT [dbo].[tipo_contratos] ([id_tipo_contrato], [nombre], [is_active]) VALUES (1, N'Termino Indefinido', 1)
INSERT [dbo].[tipo_contratos] ([id_tipo_contrato], [nombre], [is_active]) VALUES (2, N'Termino definido', 1)
SET IDENTITY_INSERT [dbo].[tipo_contratos] OFF
GO
SET IDENTITY_INSERT [dbo].[vinculaciones] ON 

INSERT [dbo].[vinculaciones] ([id_vinculacion], [fkpk_id_profesor], [fkpk_id_tipo_contrato], [numero_contrato], [valor_contrato], [is_active]) VALUES (1, 1, 1, N'CONT_001', 1800000, 1)
SET IDENTITY_INSERT [dbo].[vinculaciones] OFF
GO
/****** Object:  Index [UQ__materia___921B9BB9F1477A33]    Script Date: 2/06/2026 5:32:51 p. m. ******/
ALTER TABLE [dbo].[materia_profesor] ADD UNIQUE NONCLUSTERED 
(
	[fkpk_id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vinculac__79CE842A35043D4E]    Script Date: 2/06/2026 5:32:51 p. m. ******/
ALTER TABLE [dbo].[vinculaciones] ADD UNIQUE NONCLUSTERED 
(
	[numero_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estudiantes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[estudiantes_por_materia] ADD  DEFAULT ((1)) FOR [en_curso]
GO
ALTER TABLE [dbo].[estudiantes_por_materia] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[evaluaciones] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[materia_profesor] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[materias] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[profesores] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[programas] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tipo_contratos] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[vinculaciones] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[estudiantes_por_materia]  WITH CHECK ADD FOREIGN KEY([fkpk_id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[estudiantes_por_materia]  WITH CHECK ADD FOREIGN KEY([fkpk_id_materia_profesor])
REFERENCES [dbo].[materia_profesor] ([id_materia_profesor])
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD FOREIGN KEY([fkpk_id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD FOREIGN KEY([fkpk_id_materia_profesor])
REFERENCES [dbo].[materia_profesor] ([id_materia_profesor])
GO
ALTER TABLE [dbo].[materia_profesor]  WITH CHECK ADD FOREIGN KEY([fkpk_id_profesor])
REFERENCES [dbo].[profesores] ([id_profesor])
GO
ALTER TABLE [dbo].[materia_profesor]  WITH CHECK ADD FOREIGN KEY([fkpk_id_materia])
REFERENCES [dbo].[materias] ([id_materia])
GO
ALTER TABLE [dbo].[programas]  WITH CHECK ADD FOREIGN KEY([fkpk_id_materia])
REFERENCES [dbo].[materias] ([id_materia])
GO
ALTER TABLE [dbo].[vinculaciones]  WITH CHECK ADD FOREIGN KEY([fkpk_id_profesor])
REFERENCES [dbo].[profesores] ([id_profesor])
GO
ALTER TABLE [dbo].[vinculaciones]  WITH CHECK ADD FOREIGN KEY([fkpk_id_tipo_contrato])
REFERENCES [dbo].[tipo_contratos] ([id_tipo_contrato])
GO
/****** Object:  StoredProcedure [dbo].[sp_activar_desactivar_materia]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_activar_desactivar_materia]
  @id_materia INT,
  @is_active BIT
AS
  UPDATE materias
  SET is_active = @is_active
  WHERE id_materia = @id_materia;
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_estudiante]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crear_estudiante]
  @nombre VARCHAR(150),
  @apellidos VARCHAR(150),
  @direccion varchar(500),
  @telefono varchar(10),
  @correo varchar(150)
AS
INSERT INTO estudiantes (
  nombres, apellidos, direccion, telefono, correo
)
VALUES (
  @nombre, @apellidos, @direccion, @telefono, @correo
);
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_materia_profesor]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crear_materia_profesor] (
  @id_materia int,
  @id_profesor int
)
AS
INSERT INTO materia_profesor (
  fkpk_id_materia,
  fkpk_id_profesor
)
VALUES (
  @id_materia,
  @id_profesor
);
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_materias]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crear_materias] (
  @nombre varchar(150)
)
AS
INSERT INTO materias (
  nombre
)
VALUES (
  @nombre
);
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_profesor]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crear_profesor]
  @nombres_profesor VARCHAR(150),
  @apellidos_profesor VARCHAR(150),
  @direccion_profesor VARCHAR(500),
  @telefono_profesor VARCHAR(10),
  @correo_profesor VARCHAR(150)
AS
INSERT INTO profesores (
  nombres,
  apellidos,
  direccion,
  telefono,
  correo
)
VALUES (
  @nombres_profesor,
  @apellidos_profesor,
  @direccion_profesor,
  @telefono_profesor,
  @correo_profesor
);
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_tipo_contrato]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crear_tipo_contrato]
  @nombre_tipo_contrato VARCHAR(150)
AS
INSERT INTO tipo_contratos (
  nombre
)
VALUES (
  @nombre_tipo_contrato
);
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_vinculacion]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crear_vinculacion] (
  @id_profesor INT,
  @id_tipo_contrato INT,
  @num_contrato VARCHAR(1024),
  @val_contrato INT
)
AS
INSERT INTO vinculaciones (
  fkpk_id_profesor,
  fkpk_id_tipo_contrato,
  numero_contrato,
  valor_contrato
)
VALUES (
  @id_profesor,
  @id_tipo_contrato,
  @num_contrato,
  @val_contrato
);
GO
/****** Object:  StoredProcedure [dbo].[sp_editar_materia]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_editar_materia]
  @id_materia INT,
  @nombre VARCHAR(150)
AS
  UPDATE materias
  SET nombre = @nombre
  WHERE id_materia = @id_materia;
GO
/****** Object:  StoredProcedure [dbo].[sp_editar_tipo_contrato]    Script Date: 2/06/2026 5:32:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_editar_tipo_contrato]
  @id_tipo_contrato INT,
  @nombre_tipo_contrato VARCHAR(150)
AS
UPDATE tipo_contratos
SET nombre = @nombre_tipo_contrato
WHERE id_tipo_contrato = @id_tipo_contrato;
GO
USE [master]
GO
