USE [master]
GO
/****** Object:  Database [registro_ventas]    Script Date: 2/06/2026 5:15:43 p. m. ******/
CREATE DATABASE [registro_ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'registro_ventas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\registro_ventas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'registro_ventas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\registro_ventas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [registro_ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [registro_ventas]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 2/06/2026 5:15:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[p_nombre_c] [varchar](20) NOT NULL,
	[s_nombre_c] [varchar](20) NULL,
	[p_apellido_c] [varchar](30) NOT NULL,
	[s_apellido_c] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fecha]    Script Date: 2/06/2026 5:15:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fecha](
	[id_fecha] [int] NOT NULL,
	[anio] [smallint] NOT NULL,
	[trimestre] [tinyint] NOT NULL,
	[mes] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 2/06/2026 5:15:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[marca] [varchar](30) NOT NULL,
	[producto] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 2/06/2026 5:15:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[fkpk_id_cliente] [int] NOT NULL,
	[fkpk_id_producto] [int] NOT NULL,
	[fkpk_id_fecha] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[montoTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fkpk_id_cliente] ASC,
	[fkpk_id_producto] ASC,
	[fkpk_id_fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cliente] ([id_cliente], [p_nombre_c], [s_nombre_c], [p_apellido_c], [s_apellido_c]) VALUES (100, N'Juan', NULL, N'Vasquez', NULL)
INSERT [dbo].[cliente] ([id_cliente], [p_nombre_c], [s_nombre_c], [p_apellido_c], [s_apellido_c]) VALUES (101, N'Maria', NULL, N'Gomez', NULL)
INSERT [dbo].[cliente] ([id_cliente], [p_nombre_c], [s_nombre_c], [p_apellido_c], [s_apellido_c]) VALUES (102, N'Carlos', NULL, N'Lopez', NULL)
GO
INSERT [dbo].[fecha] ([id_fecha], [anio], [trimestre], [mes]) VALUES (500, 2024, 2, N'abril')
INSERT [dbo].[fecha] ([id_fecha], [anio], [trimestre], [mes]) VALUES (501, 2025, 1, N'enero')
INSERT [dbo].[fecha] ([id_fecha], [anio], [trimestre], [mes]) VALUES (502, 2023, 2, N'junio')
GO
INSERT [dbo].[producto] ([id_producto], [marca], [producto]) VALUES (900, N'Samsung', N'Celular Galaxy A34')
INSERT [dbo].[producto] ([id_producto], [marca], [producto]) VALUES (901, N'Apple', N'iPhone 14')
INSERT [dbo].[producto] ([id_producto], [marca], [producto]) VALUES (902, N'HP', N'Portátil Pavilion')
GO
INSERT [dbo].[ventas] ([fkpk_id_cliente], [fkpk_id_producto], [fkpk_id_fecha], [cantidad], [montoTotal]) VALUES (100, 900, 502, 1, CAST(2900000.00 AS Decimal(10, 2)))
INSERT [dbo].[ventas] ([fkpk_id_cliente], [fkpk_id_producto], [fkpk_id_fecha], [cantidad], [montoTotal]) VALUES (100, 904, 504, 1, CAST(2700000.00 AS Decimal(10, 2)))
INSERT [dbo].[ventas] ([fkpk_id_cliente], [fkpk_id_producto], [fkpk_id_fecha], [cantidad], [montoTotal]) VALUES (101, 901, 501, 1, CAST(4500000.00 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([fkpk_id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([fkpk_id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([fkpk_id_fecha])
REFERENCES [dbo].[fecha] ([id_fecha])
GO
USE [master]
GO
